.box{
    background-color:#006cfa;
    color: #fff;
    height: 50px;
    border: solid 1px #fff;
    text-align: center;
}

.box-inner{
    background-color: #00e165;
    border: solid 1px #fff;
    padding: 5px
}